/* * {
  border: 1px solid gray;
} */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header_image {
  width: 40%;
  height: 40%;
}
.add_btns {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-right: 1%;
}
.add_btn {
  width: 5%;
  background-color: #f2f1df;
  color: black;
  border-radius: 10%;
  margin-bottom: 1%;
}

.add_btn:hover {
  background-color: lightblue;
}

.start_line {
  width: 100%;
  border-top: solid 3px #f2f1df;
}

.divide_line {
  margin-top: 5%;
  width: 100%;
  border-top: solid 3px #f2f1df;
}

.images {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.thumbnails {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.thumbnail {
  width: 30%;
  aspect-ratio: 1 /1;
  border: 1px dashed lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.thumbnail img {
  width: 100%;
  height: 100%;
}
.thumbnailgap {
  width: 5%;
}

.des_modal {
  width: 80%;
  border: solid 1px #f2f1df;
  display: none;
  flex-direction: column;
  background-color: white;
  filter: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.modal_main {
  display: flex;
}
.main_image {
  width: 50%;
  aspect-ratio: 1 / 1;
  border: dashed 1px lightgray;
  margin: 1%;
}
.mimage {
  width: 100%;
  aspect-ratio: 1 /1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.main div {
  width: 100%;
  height: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_filename,
.main_filecdate,
.main_fileudate,
.main_filesize,
.main_file_id {
  background-color: #f2f1df;
  color: black;
  font-weight: bold;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.btns svg {
  margin: 1%;
  width: 5%;
  aspect-ratio: 1 / 1;
  background-color: #f2f1df;
  color: black;
  border-radius: 10%;
}

.btns svg:hover {
  background-color: lightblue;
}

.insert_form,
.update_form {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insert_form_title,
.update_form_title {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-weight: bold;
  background-color: #f2f1df;
  color: black;
}

.insert_form_main,
.update_form_main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.insert_form_btn,
.update_form_btn {
  border: none;
  background-color: #f2f1df;
  color: black;
  border-radius: 10%;
  font-weight: bold;
  cursor: pointer;
}

.insert_form_btn:hover,
.update_form_btn:hover {
  background-color: lightblue;
}

.insert_form_file::file-selector-button,
.update_form_file::file-selector-button {
  border: none;
  background-color: #f2f1df;
  color: black;
  border-radius: 10%;
  font-weight: bold;
  cursor: pointer;
}

.insert_form_file::file-selector-button:hover,
.update_form_file::file-selector-button:hover {
  background-color: lightblue;
}

.blur-background {
  filter: blur(5px);
  pointer-events: none;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:disabled:hover {
  opacity: 0.5;
}
