.init_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.init_image {
  width: 70%;
  animation: fadeEffect 1s ease-in-out infinite;
}

@keyframes fadeEffect {
  0% {
    mask-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 1) 70%,
      rgba(255, 255, 255, 1) 80%,
      rgba(255, 255, 255, 1) 90%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  10% {
    mask-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 1) 70%,
      rgba(255, 255, 255, 1) 80%,
      rgba(255, 255, 255, 1) 90%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  20% {
    mask-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 1) 70%,
      rgba(255, 255, 255, 1) 80%,
      rgba(255, 255, 255, 1) 90%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  30% {
    mask-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 1) 70%,
      rgba(255, 255, 255, 1) 80%,
      rgba(255, 255, 255, 1) 90%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  40% {
    mask-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 1) 70%,
      rgba(255, 255, 255, 1) 80%,
      rgba(255, 255, 255, 1) 90%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  50% {
    mask-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 1) 70%,
      rgba(255, 255, 255, 1) 80%,
      rgba(255, 255, 255, 1) 90%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  60% {
    mask-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 60%,
      rgba(255, 255, 255, 1) 70%,
      rgba(255, 255, 255, 1) 80%,
      rgba(255, 255, 255, 1) 90%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  70% {
    mask-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 1) 80%,
      rgba(255, 255, 255, 1) 90%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  80% {
    mask-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 1) 70%,
      rgba(255, 255, 255, 0) 80%,
      rgba(255, 255, 255, 1) 90%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  90% {
    mask-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 1) 70%,
      rgba(255, 255, 255, 1) 80%,
      rgba(255, 255, 255, 0) 90%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  100% {
    mask-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 1) 70%,
      rgba(255, 255, 255, 1) 80%,
      rgba(255, 255, 255, 1) 90%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}
